@import './variables.scss';

@mixin mainContainerStyle {
  width: 100vw;
  margin-bottom: 129px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin categoryPillStyle {
  padding: 8px 16px;
  margin: 7px 8px;
  background-color: $white-blue;
  border-radius: $border-rounded;
}

@mixin goBack {
  a {
    span {
      margin-left: 1rem;
    }

    span {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@mixin selectField {
  .select-field {
    width: 100%;
    padding: 15px 23px;
    margin-top: 18px;
    background: $background-color;
    border: 2px solid transparent;
    position: relative;
    cursor: pointer;

    .select-field-img {
      position: absolute;
      right: 23px;
      top: 24px;
    }
  }
}
