$background-color: #f7f8fd;
$darkest-blue: #373f68;
$darker-blue: #3a4374;
$dark-blue: #4661e6;
$grey-blue: #647196;
$med-blue: #8397f8;
$light-blue: #62bcfa;
$white-blue: #f2f4ff;
$hover-blue: #cfd7ff;
$purple: #ad1fea;
$light-purple: #c75af6;
$orange: #f49f85;
$white: #ffffff;

$margin-top-desktop: 94px;

$border-rounded: 10px;
