@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');
@import './helpers/variables.scss';
@import './helpers/globals.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}
