@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}

body {
  background-color: #f7f8fd;
  margin-top: 94px;
}

ul li {
  list-style: none;
}

input[type='radio'] {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

input[type='radio']:checked + label {
  background: #4661e6 !important;
  color: #fff;
}

.text-white {
  color: #fff;
}

.text-very-light {
  color: #f2f4fe;
}

.text-blue {
  color: #4661e6;
}

.h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: -0.33px;
}

.h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.25px;
}

.h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.25px;
}

.h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.2px;
}

.body-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}

.body-2 {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}

.body-3 {
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
}

.Home {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Home .container {
  width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.Home .container .left .top {
  width: 255px;
  padding-left: 25px;
  border-radius: 10px;
}

.Home .container .left .top h2 {
  display: inline-block;
  margin-top: 68px;
}

.Home .container .left .top p {
  display: inline-block;
  margin-bottom: 30px;
  opacity: 0.75;
}

.CategoryBox {
  margin-top: 24px;
  background-color: #fff;
  border-radius: 10px;
}

.CategoryBox .container {
  width: 255px;
  padding: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.CategoryBox .container .btn {
  padding: 10px 17px;
  margin: 7px 8px;
  background-color: #f2f4ff;
  border-radius: 10px;
}

.CategoryBox .container .btn:hover {
  cursor: pointer;
  background-color: #cfd7ff;
}

.CategoryBox .container .active {
  background-color: red;
}

.TopBar {
  width: 100%;
  max-width: 825px;
  padding: 24px;
  background-color: #373f68;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.TopBar .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.TopBar .left select {
  background: transparent;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Remove default arrow */
}

.TopBar .left select:focus {
  outline: none;
}
/*# sourceMappingURL=styles.css.map */