@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');
@import './helpers/variables.scss';
@import './helpers/globals.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}

// PAGES =================================================================

// Edit Feedback Page
.EditFeedbackPage {
  width: 100vw;
  margin-bottom: 129px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .container {
    width: 540px;

    .top-bar {
      .navBack {
        cursor: pointer;

        span {
          margin-left: 1rem;
        }

        span {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .middle {
      width: 100%;
      margin-top: 72px;
      padding: 40px 42px;
      padding-top: 48px;
      background: #fff;
      position: relative;

      img {
        position: absolute;
        top: -31px;
      }

      form {
        h4 {
          margin-top: 40px;
        }

        .edit-feedback-select-container {
          position: relative;

          h4 {
            margin-top: 29px;
          }

          .select-field {
            width: 100%;
            padding: 15px 23px;
            margin-top: 18px;
            background: $background-color;
            border: 2px solid transparent;
            position: relative;
            cursor: pointer;

            img {
              position: absolute;
              right: 23px;
              top: 24px;
            }
          }

          .edit-feedback-select-active {
            border: 2px solid blue;
          }

          .select-list-container {
            width: 100%;
            position: absolute;
            bottom: -16rem;
            z-index: 40;

            .select-list {
              background: #ffffff;
              box-shadow: 0 10px 40px -7px rgba(0, 0, 0, 0.35);

              .select-list-item {
                padding: 12px 24px;
                color: #647196;
                border-bottom: 1px solid rgba(0, 0, 0, 0.15);
                display: flex;
                justify-content: space-between;
                align-items: center;

                &:last-child {
                  border-bottom: none;
                }

                &:hover {
                  cursor: pointer;
                  color: $purple;
                }
              }

              img {
                position: static;
              }
            }
          }
        }

        .edit-feedback-detail {
          width: 100%;
          margin-top: 28px !important;

          h4 {
            margin-top: 0;
          }

          textarea {
            width: 100%;
            height: 96px;
            margin-top: 18px;
            padding: 15px 23px;
            background: $background-color;
            border: none;
            resize: none;
          }
        }

        .edit-feedback-buttons {
          width: 100%;
          margin-top: 32px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;

          button {
            &:first-child {
              background-color: #d73737;
              margin-right: auto;
              margin-left: 0;

              &:hover {
                background-color: #e98888;
              }
            }

            &:nth-child(2) {
              background-color: $darker-blue;

              &:hover {
                background-color: #656ea3;
              }
            }

            margin-left: 16px;
            background-color: $purple;
            border: none;
            cursor: pointer;

            &:hover {
              background-color: $light-purple;
            }
          }
        }
      }
    }
  }
}

// Roadmap Page
.RoadmapPage {
  width: 100vw;
  margin-bottom: 129px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .container {
    width: 1110px;

    .top-bar {
      width: 100%;
      padding: 32px;
      background-color: $darkest-blue;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .left {
        .navBack {
          display: flex;
          flex-direction: row;
          align-items: center;
          cursor: pointer;

          img {
            filter: brightness(100);
          }

          span {
            margin-left: 1rem;
          }

          span {
            &:hover {
              text-decoration: underline;
            }
          }
        }

        h1 {
          margin-top: 12px;
        }
      }

      .right {
        a {
          background-color: $purple;
        }
      }
    }

    .middle-container {
      margin-top: 53px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

// COMPONENTS ============================================================

// Product Feedback Component
.ProductFeedback {
  display: block;
  margin-top: 24px !important;

  .container {
    max-width: 825px;
    max-height: 151px;
    padding: 28px 32px;
    background: #fff;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    .left {
      .btn {
        width: 40px;
        height: 53px;
        background-color: $white-blue;
        border-radius: $border-rounded;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
          margin-top: 8px;
        }

        &:hover {
          background-color: $hover-blue;
        }
      }
    }

    .middle {
      width: 100%;
      margin-left: 40px;

      p {
        margin-top: 6px;
      }

      .btn {
        display: inline-block;
        margin-top: 12px;
        padding: 6px 14px;
        background-color: $white-blue;
        border-radius: $border-rounded;
      }

      div {
        text-transform: capitalize;
      }
    }

    .right {
      align-self: center;
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        margin-right: 12px;
      }
    }
  }
}

// Comments Component
.Comments {
  margin-top: 35px;

  .top {
    display: flex;
    flex-direction: row;
    align-items: center;

    .user-info {
      margin-left: 32px;
    }

    button {
      background: none;
      border: none;
      margin-left: auto;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .middle {
    margin-top: 23px !important;

    p {
      margin-left: 73px;
    }

    hr {
      display: none;
    }
  }

  &:first-child {
    hr {
      display: block;
      margin-top: 35px;
      border-top: 1px solid #8c92b3;
      opacity: 0.35;
    }
  }

  &:last-child {
    hr {
      display: none;
    }
  }
}

// Replies Component
.Replies {
  width: 621px;
  margin-top: 35px;
  margin-left: auto;
}

// Reply Component
.Reply {
  margin-top: 26px;
  margin-left: 73px;

  form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    textarea {
      width: 75%;
      padding: 19px 24px;
      background: $background-color;
      border: none;
      resize: none;
    }

    button {
      background: $purple;
      padding: 16px 24px;
      margin-left: 16px;
      border: none;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

// EmptyFeedback Component
.EmptyFeedback {
  width: 825px;
  height: 600px;
  margin-top: 24px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    max-width: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    H1 {
      margin-top: 60px;
    }

    p {
      margin-top: 25px;
    }

    .button {
      margin-top: 50px;
    }
  }
}

// RoadmapCard Component
.RoadmapCard {
  max-width: 350px;
  padding: 32px;
  margin-top: 34px;
  background: #fff;

  .top {
    display: flex;
    flex-direction: row;
    align-items: center;

    .bullet {
      width: 8px;
      height: 8px;
      margin-right: 17px;
      border-radius: 50%;
    }
  }

  .middle {
    margin-top: 16px;

    p {
      margin-top: 16px;
    }

    .btn {
      display: inline-block;
      margin-top: 12px;
      padding: 6px 14px;
      background-color: $white-blue;
      border-radius: $border-rounded;
    }

    div {
      text-transform: capitalize;
    }
  }

  .bottom {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .btn {
      width: 40px;
      height: 53px;
      background-color: $white-blue;
      border-radius: $border-rounded;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        margin-top: 8px;
      }

      &:hover {
        cursor: pointer;
        background-color: $hover-blue;
      }
    }

    .comments {
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        margin-right: 12px;
      }
    }
  }
}
