@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}

// Variables

$background-color: #f7f8fd;
$darkest-blue: #373f68;
$darker-blue: #3a4374;
$grey-blue: #647196;
$dark-blue: #4661e6;
$med-blue: #8397f8;
$light-blue: #62bcfa;
$white-blue: #f2f4ff;
$hover-blue: #cfd7ff;
$purple: #ad1fea;
$light-purple: #c75af6;
$orange: #f49f85;

$margin-top-desktop: 94px;

$border-rounded: 10px;

// Global

body {
  background-color: $background-color;
  margin-top: $margin-top-desktop;
}

a {
  text-decoration: none;
  background: none;
}

ul li {
  list-style: none;
}

input[type='radio'] {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

input[type='radio']:checked + label {
  background: $dark-blue !important;
  color: #fff;
}

.border {
  border-radius: $border-rounded;
}

.text-white {
  color: #fff;
}

.text-very-light {
  color: #f2f4fe;
}

.text-blue {
  color: $dark-blue;
}

.text-darker-blue {
  color: $darker-blue;
}

.text-grey-blue {
  color: $grey-blue;
}

.text-purple {
  color: $purple;
}

.icon-white {
  filter: brightness(100);
}

.h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: -0.33px;
}

.h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.25px;
}

.h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.25px;
}

.h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.2px;
}

.body-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}

.body-2 {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}

.body-3 {
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
}

.button {
  padding: 12px 25px;
}

.bullet-orange {
  background-color: $orange;
}

.bullet-purple {
  background-color: $purple;
}

.bullet-blue {
  background-color: $light-blue;
}

.user-image {
  width: 40px;
  border-radius: 50%;
}

// PAGES =================================================================

// Home Page
.Home {
  width: 100vw;
  margin-bottom: 129px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .container {
    width: 1110px;
    display: flex;
    flex-direction: row;

    .left {
      .top {
        width: 255px;
        padding-left: 25px;

        h2 {
          display: inline-block;
          margin-top: 68px;
        }

        p {
          display: inline-block;
          margin-bottom: 30px;
          opacity: 0.75;
        }
      }
    }

    .right {
      margin-left: 30px;

      a {
        background: $purple;

        &:hover {
          background: $light-purple;
        }
      }
    }
  }
}

// Feedback Detail Page
.FeedbackDetailPage {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .container {
    width: 730px;
    display: flex;
    flex-direction: column;

    .top-bar {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      a {
        span {
          margin-left: 1rem;
        }

        &:first-child {
          span {
            &:hover {
              text-decoration: underline;
            }
          }
        }

        &:last-child {
          background: $dark-blue;

          &:hover {
            background: $med-blue;
          }
        }
      }
    }

    .comments-container {
      background: #fff;
      padding: 28px 32px;
      margin-top: 24px;

      .middle {
        margin-top: 35px;
      }
    }

    .add-comment {
      margin-top: 24px;
      margin-bottom: 137px;
      padding: 28px 32px;
      background: #fff;

      form {
        margin-top: 31px;

        textarea {
          width: 100%;
          padding: 19px 24px;
          background: $background-color;
          border: none;
          resize: none;
        }

        .bottom {
          margin-top: 16px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          .button {
            background: $purple;
            border: none;

            &:hover {
              cursor: pointer;
              background: $light-purple;
            }
          }
        }
      }
    }
  }
}

// New Feedback Page
.NewFeedbackPage {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .container {
    width: 540px;

    .top-bar {
      a {
        span {
          margin-left: 1rem;
        }

        span {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .middle {
      width: 100%;
      margin-top: 72px;
      padding: 40px 42px;
      padding-top: 48px;
      background: #fff;
      position: relative;

      img {
        position: absolute;
        top: -31px;
      }

      form {
        h4 {
          margin-top: 40px;
        }

        input {
          width: 100%;
          padding: 15px 23px;
          margin-top: 18px;
          background: $background-color;
          border: none;
        }

        .new-feedback-select-container {
          position: relative;

          h4 {
            margin-top: 29px;
          }

          .select-field {
            width: 100%;
            padding: 15px 23px;
            margin-top: 18px;
            background: $background-color;
            border: 2px solid transparent;
            position: relative;
            cursor: pointer;

            img {
              position: absolute;
              right: 23px;
              top: 24px;
            }
          }

          .new-feedback-select-active {
            border: 2px solid blue;
          }

          .select-list-container {
            width: 100%;
            position: absolute;
            bottom: -16rem;

            .select-list {
              background: #ffffff;
              box-shadow: 0 10px 40px -7px rgba(0, 0, 0, 0.35);

              .select-list-item {
                padding: 12px 24px;
                color: #647196;
                border-bottom: 1px solid rgba(0, 0, 0, 0.15);
                display: flex;
                justify-content: space-between;
                align-items: center;

                &:last-child {
                  border-bottom: none;
                }

                &:hover {
                  cursor: pointer;
                  color: $purple;
                }
              }

              img {
                position: static;
              }
            }
          }
        }

        .new-feedback-detail {
          width: 100%;
          margin-top: 28px !important;

          textarea {
            width: 100%;
            height: 96px;
            margin-top: 18px;
            padding: 15px 23px;
            background: $background-color;
            border: none;
            resize: none;
          }
        }

        .new-feedback-buttons {
          width: 100%;
          margin-top: 32px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;

          a {
            background-color: $darker-blue;

            &:hover {
              background-color: #656ea3;
            }
          }
          button {
            margin-left: 16px;
            background-color: $purple;
            border: none;
            cursor: pointer;

            &:hover {
              background-color: $light-purple;
            }
          }
        }
      }
    }
  }
}

// COMPONENTS ============================================================

// Category Box Component
.CategoryBox {
  margin-top: 24px;
  background-color: #fff;

  .container {
    width: 255px;
    padding: 17px;
    display: flex;
    flex-wrap: wrap;

    .btn {
      padding: 10px 17px;
      margin: 7px 8px;
      background-color: $white-blue;
      border-radius: $border-rounded;

      &:hover {
        cursor: pointer;
        background-color: $hover-blue;
      }
    }

    .active {
      background-color: red;
    }
  }
}

// Roadmap Box Component
.RoadmapBox {
  width: 255px;
  margin-top: 24px;
  padding: 24px;
  background-color: #fff;

  .RoadmapBox-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    a {
      text-decoration: underline;

      &:hover {
        color: $med-blue;
      }
    }
  }

  .RoadmapBox-middle {
    margin-top: 32px;

    ul {
      li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        span {
          display: flex;
          flex-direction: row;
          align-items: center;

          .bullet {
            width: 8px;
            height: 8px;
            margin-right: 17px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

// TopBar Component
.TopBar {
  width: 100%;
  max-width: 825px;
  padding: 24px;
  background-color: $darkest-blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .left {
    display: flex;
    flex-direction: row;
    align-items: center;

    h3 {
      margin-left: 16px;
    }
  }
}

// Select Component
.select-container {
  margin-left: 36px;
  position: relative;

  .select-header {
    cursor: pointer;
  }

  .select-list-container {
    width: 207px;
    position: absolute;
    bottom: -14rem;

    .select-list {
      background: #ffffff;
      box-shadow: 0 10px 40px -7px rgba(0, 0, 0, 0.35);

      .select-list-item {
        padding: 12px 24px;
        color: #647196;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:last-child {
          border-bottom: none;
        }

        &:hover {
          cursor: pointer;
          color: $purple;
        }
      }
    }
  }
}

// Product Feedback Component
.ProductFeedback {
  display: block;
  margin-top: 24px !important;

  .container {
    max-width: 825px;
    padding: 28px 32px;
    background: #fff;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    .left {
      .btn {
        width: 40px;
        height: 53px;
        background-color: $white-blue;
        border-radius: $border-rounded;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
          margin-top: 8px;
        }

        &:hover {
          background-color: $hover-blue;
        }
      }
    }

    .middle {
      width: 100%;
      margin-left: 40px;

      p {
        margin-top: 6px;
      }

      .btn {
        display: inline-block;
        margin-top: 12px;
        padding: 6px 14px;
        background-color: $white-blue;
        border-radius: $border-rounded;
      }

      div {
        text-transform: capitalize;
      }
    }

    .right {
      align-self: center;
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        margin-right: 12px;
      }
    }
  }
}

// Comments Component
.Comments {
  margin-top: 35px;

  .top {
    display: flex;
    flex-direction: row;
    align-items: center;

    .user-info {
      margin-left: 32px;
    }

    button {
      background: none;
      border: none;
      margin-left: auto;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .middle {
    margin-top: 23px !important;

    p {
      margin-left: 73px;
    }

    hr {
      display: none;
    }
  }

  &:first-child {
    hr {
      display: block;
      margin-top: 35px;
      border-top: 1px solid #8c92b3;
      opacity: 0.35;
    }
  }

  &:last-child {
    hr {
      display: none;
    }
  }
}

// Replies Component
.Replies {
  width: 621px;
  margin-top: 35px;
  margin-left: auto;
}

// Reply Component
.Reply {
  margin-top: 26px;
  margin-left: 73px;

  form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    textarea {
      width: 75%;
      padding: 19px 24px;
      background: $background-color;
      border: none;
      resize: none;
    }

    button {
      background: $purple;
      padding: 16px 24px;
      margin-left: 16px;
      border: none;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

// EmptyFeedback Component
.EmptyFeedback {
  width: 825px;
  height: 600px;
  margin-top: 24px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    max-width: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    H1 {
      margin-top: 60px;
    }

    p {
      margin-top: 25px;
    }

    .button {
      margin-top: 50px;
    }
  }
}
