.EditFeedbackPage {
  width: 100vw;
  margin-bottom: 129px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.EditFeedbackPage .EditFeedbackPage-container {
  width: 540px;
}

.EditFeedbackPage .EditFeedbackPage-container .EditFeedbackPage-top-bar .navBack {
  cursor: pointer;
}

.EditFeedbackPage .EditFeedbackPage-container .EditFeedbackPage-top-bar .navBack span {
  margin-left: 1rem;
}

.EditFeedbackPage .EditFeedbackPage-container .EditFeedbackPage-top-bar .navBack span:hover {
  text-decoration: underline;
}

.EditFeedbackPage .EditFeedbackPage-container .EditFeedbackPage-middle {
  width: 100%;
  margin-top: 72px;
  padding: 40px 42px;
  padding-top: 48px;
  background: #fff;
  position: relative;
}

.EditFeedbackPage .EditFeedbackPage-container .EditFeedbackPage-middle .EditFeedbackPage-top-image {
  position: absolute;
  top: -31px;
}

.EditFeedbackPage .EditFeedbackPage-container .EditFeedbackPage-middle form h4 {
  margin-top: 40px;
}

.EditFeedbackPage .EditFeedbackPage-container .EditFeedbackPage-middle form .edit-feedback-detail {
  width: 100%;
  margin-top: 28px !important;
}

.EditFeedbackPage .EditFeedbackPage-container .EditFeedbackPage-middle form .edit-feedback-detail h4 {
  margin-top: 0;
}

.EditFeedbackPage .EditFeedbackPage-container .EditFeedbackPage-middle form .edit-feedback-detail textarea {
  width: 100%;
  height: 96px;
  margin-top: 18px;
  padding: 15px 23px;
  background: #f7f8fd;
  border: none;
  resize: none;
}

.EditFeedbackPage .EditFeedbackPage-container .EditFeedbackPage-middle form .edit-feedback-buttons {
  width: 100%;
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.EditFeedbackPage .EditFeedbackPage-container .EditFeedbackPage-middle form .edit-feedback-buttons button {
  margin-left: 16px;
  background-color: #ad1fea;
  border: none;
  cursor: pointer;
}

.EditFeedbackPage .EditFeedbackPage-container .EditFeedbackPage-middle form .edit-feedback-buttons button:first-child {
  background-color: #d73737;
  margin-right: auto;
  margin-left: 0;
}

.EditFeedbackPage .EditFeedbackPage-container .EditFeedbackPage-middle form .edit-feedback-buttons button:first-child:hover {
  background-color: #e98888;
}

.EditFeedbackPage .EditFeedbackPage-container .EditFeedbackPage-middle form .edit-feedback-buttons button:nth-child(2) {
  background-color: #3a4374;
}

.EditFeedbackPage .EditFeedbackPage-container .EditFeedbackPage-middle form .edit-feedback-buttons button:nth-child(2):hover {
  background-color: #656ea3;
}

.EditFeedbackPage .EditFeedbackPage-container .EditFeedbackPage-middle form .edit-feedback-buttons button:hover {
  background-color: #c75af6;
}

@media screen and (max-width: 588px) {
  .EditFeedbackPage {
    margin-top: 24px;
    position: absolute;
    top: 0;
  }
  .EditFeedbackPage .EditFeedbackPage-container {
    width: calc(100% - 48px);
    margin-left: 24px;
    margin-right: 24px;
  }
  .EditFeedbackPage .EditFeedbackPage-container .EditFeedbackPage-middle form .edit-feedback-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-flow: column-reverse;
        flex-flow: column-reverse;
  }
  .EditFeedbackPage .EditFeedbackPage-container .EditFeedbackPage-middle form .edit-feedback-buttons button {
    width: 100%;
    margin-left: 0;
  }
  .EditFeedbackPage .EditFeedbackPage-container .EditFeedbackPage-middle form .edit-feedback-buttons button:nth-child(1) {
    margin-top: 16px;
  }
  .EditFeedbackPage .EditFeedbackPage-container .EditFeedbackPage-middle form .edit-feedback-buttons button:nth-child(2) {
    margin-top: 16px;
  }
}
/*# sourceMappingURL=editFeedbackPage.css.map */