.FeedbackDetailPage {
  width: 100vw;
  margin-bottom: 129px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.FeedbackDetailPage .container {
  width: 730px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.FeedbackDetailPage .container .top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.FeedbackDetailPage .container .top-bar a span {
  margin-left: 1rem;
}

.FeedbackDetailPage .container .top-bar a:first-child span:hover {
  text-decoration: underline;
}

.FeedbackDetailPage .container .top-bar a:last-child {
  background: #4661e6;
}

.FeedbackDetailPage .container .top-bar a:last-child:hover {
  background: #8397f8;
}

.FeedbackDetailPage .container .comments-container {
  background: #fff;
  padding: 28px 32px;
  margin-top: 24px;
}

.FeedbackDetailPage .container .comments-container .middle {
  margin-top: 35px;
}

.FeedbackDetailPage .container .add-comment {
  margin-top: 24px;
  margin-bottom: 137px;
  padding: 28px 32px;
  background: #fff;
}

.FeedbackDetailPage .container .add-comment form {
  margin-top: 31px;
}

.FeedbackDetailPage .container .add-comment form textarea {
  width: 100%;
  padding: 19px 24px;
  background: #f7f8fd;
  border: none;
  resize: none;
}

.FeedbackDetailPage .container .add-comment form .bottom {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.FeedbackDetailPage .container .add-comment form .bottom .button {
  background: #ad1fea;
  border: none;
}

.FeedbackDetailPage .container .add-comment form .bottom .button:hover {
  cursor: pointer;
  background: #c75af6;
}

@media screen and (max-width: 738px) {
  .FeedbackDetailPage .container .top-bar {
    width: calc(100% - 48px);
    margin-left: 24px;
    margin-top: 24px;
  }
  .FeedbackDetailPage .container .comments-container {
    width: calc(100% - 48px);
    margin-left: 24px;
    margin-top: 24px;
  }
  .FeedbackDetailPage .container .add-comment {
    width: calc(100% - 48px);
    margin-left: 24px;
    margin-top: 24px;
  }
}
/*# sourceMappingURL=feedbackPage.css.map */