@import '../helpers/variables.scss';
@import '../helpers/mixins.scss';

.Home {
  @include mainContainerStyle();

  .Home-container {
    width: 1110px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .Home-left {
      display: flex;
      flex-direction: column;
    }

    .Home-right {
      width: 825px;
      margin-left: 30px;
    }
  }
}

@media screen and (max-width: 1110px) {
  .Home {
    .Home-container {
      flex-direction: column;
      align-items: center;

      .Home-left {
        width: 739px;
        max-height: 178px;
        margin-bottom: 40px;
        flex-direction: row;
        justify-content: space-between;
      }

      .Home-right {
        width: 739px;
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: 738px) {
  .Home {
    position: absolute;
    top: 0;
    overflow-x: hidden;

    .Home-container {
      width: 100%;

      .Home-left {
        width: 100%;
        margin-bottom: 0;
      }

      .Home-right {
        width: 100%;
        min-height: 100vh;
        position: relative;
      }
    }
  }
}
