.NewFeedbackPage {
  width: 100vw;
  margin-bottom: 129px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.NewFeedbackPage .NewFeedbackPage-container {
  width: 540px;
}

.NewFeedbackPage .NewFeedbackPage-container .NewFeedbackPage-top-bar a span {
  margin-left: 1rem;
}

.NewFeedbackPage .NewFeedbackPage-container .NewFeedbackPage-top-bar a span:hover {
  text-decoration: underline;
}

.NewFeedbackPage .NewFeedbackPage-container .NewFeedbackPage-middle {
  width: 100%;
  margin-top: 72px;
  padding: 40px 42px;
  padding-top: 48px;
  background: #fff;
  position: relative;
}

.NewFeedbackPage .NewFeedbackPage-container .NewFeedbackPage-middle .NewFeedbackPage-top-icon {
  position: absolute;
  top: -31px;
}

.NewFeedbackPage .NewFeedbackPage-container .NewFeedbackPage-middle .NewFeedbackPage-form h4 {
  margin-top: 40px;
}

.NewFeedbackPage .NewFeedbackPage-container .NewFeedbackPage-middle .NewFeedbackPage-form .new-feedback-detail {
  width: 100%;
  margin-top: 28px !important;
}

.NewFeedbackPage .NewFeedbackPage-container .NewFeedbackPage-middle .NewFeedbackPage-form .new-feedback-detail textarea {
  width: 100%;
  height: 96px;
  margin-top: 18px;
  padding: 15px 23px;
  background: #f7f8fd;
  border: none;
  resize: none;
}

.NewFeedbackPage .NewFeedbackPage-container .NewFeedbackPage-middle .NewFeedbackPage-form .new-feedback-buttons {
  width: 100%;
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.NewFeedbackPage .NewFeedbackPage-container .NewFeedbackPage-middle .NewFeedbackPage-form .new-feedback-buttons a {
  background-color: #3a4374;
}

.NewFeedbackPage .NewFeedbackPage-container .NewFeedbackPage-middle .NewFeedbackPage-form .new-feedback-buttons a:hover {
  background-color: #656ea3;
}

.NewFeedbackPage .NewFeedbackPage-container .NewFeedbackPage-middle .NewFeedbackPage-form .new-feedback-buttons button {
  margin-left: 16px;
  background-color: #ad1fea;
  border: none;
  cursor: pointer;
}

.NewFeedbackPage .NewFeedbackPage-container .NewFeedbackPage-middle .NewFeedbackPage-form .new-feedback-buttons button:hover {
  background-color: #c75af6;
}

@media screen and (max-width: 588px) {
  .NewFeedbackPage .NewFeedbackPage-container {
    width: calc(100% - 48px);
    margin-left: 24px;
    margin-right: 24px;
  }
  .NewFeedbackPage .NewFeedbackPage-container .NewFeedbackPage-middle .NewFeedbackPage-form .new-feedback-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-flow: column-reverse;
        flex-flow: column-reverse;
  }
  .NewFeedbackPage .NewFeedbackPage-container .NewFeedbackPage-middle .NewFeedbackPage-form .new-feedback-buttons a {
    width: 100%;
    margin-top: 16px;
    display: block;
    text-align: center;
  }
  .NewFeedbackPage .NewFeedbackPage-container .NewFeedbackPage-middle .NewFeedbackPage-form .new-feedback-buttons button {
    width: 100%;
    margin-left: 0;
    display: block;
  }
}
/*# sourceMappingURL=newFeedbackPage.css.map */