.RoadmapCard {
  max-width: 350px;
  padding: 32px;
  margin-top: 34px;
  background: #fff;
}

.RoadmapCard .RoadmapCard-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.RoadmapCard .RoadmapCard-middle {
  margin-top: 16px;
}

.RoadmapCard .RoadmapCard-middle p {
  margin-top: 16px;
}

.RoadmapCard .RoadmapCard-middle .btn {
  display: inline-block;
  margin-top: 12px;
  padding: 6px 14px;
  background-color: #f2f4ff;
  border-radius: 10px;
}

.RoadmapCard .RoadmapCard-middle div {
  text-transform: capitalize;
}

.RoadmapCard .RoadmapCard-bottom {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.RoadmapCard .RoadmapCard-bottom .btn {
  width: 40px;
  height: 53px;
  background-color: #f2f4ff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.RoadmapCard .RoadmapCard-bottom .btn p {
  margin-top: 8px;
}

.RoadmapCard .RoadmapCard-bottom .btn:hover {
  cursor: pointer;
  background-color: #cfd7ff;
}

.RoadmapCard .RoadmapCard-bottom .RoadmapCard-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.RoadmapCard .RoadmapCard-bottom .RoadmapCard-comments img {
  margin-right: 12px;
}

.RoadmapCard:last-child {
  margin-bottom: 129px;
}

@media screen and (max-width: 738px) {
  .RoadmapCard .RoadmapCard-bottom .btn {
    width: 69px;
    height: 32px;
    background-color: #f2f4ff;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .RoadmapCard .RoadmapCard-bottom .btn p {
    margin-left: 8px;
    margin-top: 0 !important;
  }
}
/*# sourceMappingURL=roadmapCard.css.map */