@import '../helpers/globals.scss';
@import '../helpers/variables.scss';

.StatsBox {
  width: 120px;
  height: 120px;
  padding: 12px;
  background: $darkest-blue;
  cursor: pointer;

  .StatsBox-middle {
    width: 100%;
    height: 100%;
    margin-top: -16px;
    display: flex;
    align-items: center;
    justify-content: center;

    .StatsBox-h1 {
      font-size: 3rem;
    }
  }
}
