@import '../helpers/variables.scss';

.TopBarHome {
  width: 100%;
  max-width: 825px;
  max-height: 72px;
  padding: 24px;
  background-color: $darkest-blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .TopBarHome-left {
    display: flex;
    flex-direction: row;
    align-items: center;

    h3 {
      margin-left: 16px;
    }
  }
}

@media screen and (max-width: 738px) {
  .TopBarHome {
    border-radius: 0 !important;
  }
}
