@import '../helpers/variables.scss';

.select-container {
  margin-left: 36px;
  position: relative;

  .select-header {
    cursor: pointer;
  }

  .select-list-container {
    width: 207px;
    position: absolute;
    bottom: -14rem;

    .select-list {
      background: #ffffff;
      box-shadow: 0 10px 40px -7px rgba(0, 0, 0, 0.35);

      .select-list-item {
        padding: 12px 24px;
        color: #647196;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:last-child {
          border-bottom: none;
        }

        &:hover {
          cursor: pointer;
          color: $purple;
        }
      }
    }
  }
}

@media screen and (max-width: 738px) {
  .select-container {
    margin-left: 0;
  }
}
